# Conexão com o banco de dados PostgreSQL
DATABASE_URL=postgres://user:password@host:5432/db_name

# Senha mestre para acessar o painel de administração e criar botões
ADMIN_TOKEN=senha_super_secreta_aqui
